﻿@model PassionProjectMVP.Models.MedicalProcedureDto

@{
    ViewBag.Title = "DeleteConfirm";
}

<h2>Are you sure you want to delete this patient?</h2>
<a href="/MedicalProcedure/List">Cancel</a>
<h2>@Model.MedicalProcedureName</h2>
<div>Medical Procedure Center: @Model.MedicalCenter</div>
<div>Date: @Model.MedicalProcedureDate</div>
<div>Patient ID: @Model.PatientID</div>
<div>Doctor ID: @Model.DoctorID</div>
<form action="/MedicalProcedure/Delete/@Model.MedicalProcedureID" method="POST">
    <input type="submit" value="Confirm Delete" />

</form>
