    ﻿@model PassionProjectMVP.Models.ViewModels.DetailsMedicalProcedure
    @{
        ViewBag.Title = "View";
    }

    <h2>Show MedicalProcedure</h2>
    <a href="/MedicalProcedure/list">go back</a>
    <br />
    <a href="/MedicalProcedure/Edit/@Model.SelectedMedicalProcedure.MedicalProcedureID">Update</a>
    <br />
    <a style="color:#ab2020;" href="/MedicalProcedure/DeleteConfirm/@Model.SelectedMedicalProcedure.MedicalProcedureID">Delete</a>



    <h4>MedicalProcedure Name:</h4>
    <h5>@Model.SelectedMedicalProcedure.MedicalProcedureName @Model.SelectedMedicalProcedure.MedicalProcedureName</h5>
    <h4>MedicalProcedure Nationality:</h4>
    <p>@Model.SelectedMedicalProcedure.MedicalCenter</p>
    <h4>MedicalProcedure Email:</h4>
    <p>@Model.SelectedMedicalProcedure.MedicalProcedureDate</p>
    <h4>Patient ID:</h4>
    <p>@Model.SelectedMedicalProcedure.PatientID</p>
    <h4>Doctor ID:</h4>
    <p>@Model.SelectedMedicalProcedure.DoctorID</p>
    <p>-----------------------------------------------------------------------------------------------</p>


