    ﻿@model PassionProjectMVP.Models.ViewModels.DetailsDoctor
    @{
        ViewBag.Title = "View";
    }

    <h2>Show Doctor</h2>
    <a href="/Doctor/list">go back</a>
    <br />
    <a href="/Doctor/Edit/@Model.SelectedDoctor.DoctorID">Update</a>
    <br />
    <a style="color:#ab2020;" href="/Doctor/DeleteConfirm/@Model.SelectedDoctor.DoctorID">Delete</a>



    <h4>Doctor Name:</h4>
    <h5>@Model.SelectedDoctor.DoctorFirstName @Model.SelectedDoctor.DoctorLastName</h5>
    <h4>Doctor Nationality:</h4>
    <p>@Model.SelectedDoctor.DoctorSpecialization</p>
    <h4>Doctor Email:</h4>
    <p>@Model.SelectedDoctor.DoctorEmail</p>
    <h4>Doctor Phone:</h4>
    <p>@Model.SelectedDoctor.DoctorPhone</p>
    <p>-----------------------------------------------------------------------------------------------</p>