@model WebAppPassionProjectMVP.Models.PatientDto
@{
    ViewBag.Title = "View";
}

<h2>Show Patient</h2>
<a href="/Patient/list">go back</a>

    <h4>Patient Name:</h4>
    <h5>@Model.PatientFirstName @Model.PatientLastName</h5>
    <h4>Patient Nationality:</h4>
    <p>@Model.PatientNationality</p>
    <h4>Patient Email:</h4>
    <p>@Model.PatientEmail</p>
    <h4>Patient Phone:</h4>
    <p>@Model.PatientPhone</p>
    <p>-----------------------------------------------------------------------------------------------</p>

