﻿@model IEnumerable<PassionProjectMVP.Models.PatientDto>
@{
    ViewBag.Title = "List";
}

<h2>List of Patients</h2>
<a href="/Patient/New">New Patient</a>
@foreach (var patient in Model)

{
    <h4>Patient Name:</h4>
    <h5>@patient.PatientFirstName @patient.PatientLastName</h5>
    <h4>Patient Nationality:</h4>
    <p>@patient.PatientNationality</p>
    <h4>Patient Email:</h4>
    <p>@patient.PatientEmail</p>
    <h4>Patient Phone:</h4>
    <p>@patient.PatientPhone</p>
    <a href="/Patient/Details/@patient.PatientID">@patient.PatientFirstName @patient.PatientLastName</a>
    <p>-----------------------------------------------------------------------------------------------</p>

}